body {
    background-image: url(weatherbg.png);
    background-size: cover;
    width: 100%;
    overflow-x: hidden;
}

p {
    font-size: 26px;
}
h1 {
    font-size: 46px;
}
h2 {
    font-size: 32px;
}

p, h1, h2 {
    color: pink;
    text-shadow: 1px 1px palevioletred;
}

ol li {
    display: inline;
    color: pink;
    padding-left: 20px;
    padding-right: 20px;
    text-align:center;
    max-height:400px;
    max-width:200px;
    min-width:200px;
}

ol {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 92%;
    text-align:left;
}